img(style="width:250px; length:250px; display:block; margin:0 auto;"
    src="file:///{{ logo_path }}")

#sidebar: p Hey, I am a sidebar text ! I make your document look much more serious.


h1 {{ title }}


.ui.piled.segment: p.
  Dire que ce rapport a été généré avec l'outil 
  #[a(href='https://github.com/schadenfreude9/astaroth') Astaroth]
  .Réalisé dans le cadre du projet SDV

:markdown
  ##  I am a section title
  
  Maybe the author should think of more original content for the titles.
  Anyways, here is a colorful table for you, straight from the Semantic UI
  examples (yeah that's lazyness). If you are filling up a template with Python,
  you can use Panda's `dataframe.to_html(classes=['ui', 'celled', 'table'])` to
  create such tables:


.ui.container
  .ui.icon.message.yellow.block-center
    i.exclamation.circle.icon
    .content
      .header NB.
      p.
        ecrire que le rapport est généné automatiqueemnt et que c'est pas 100% fiable et qu'il faut tester

{{ table_defou }}


table.ui.celled.table
  thead
    tr
      th File
      th description
  tbody
    tr
      td No Name Specified
      td Unknown
      td.negative None
    tr.positive
      td Jimmy
      td
        i.exclamation.circle.icon
        | Approved
      td None
    tr
      td Jamie
      td Unknown
      td.positive
        i.exclamation.circle.icon
        | Requires call
    tr.negative
      td Jill
      td Unknown
      td None