img(style="width:250px; length:250px; display:block; margin:0 auto;"
    src="file:///{{ logo_path }}")

#sidebar: p Copyright SupDeVinci Bordeaux Projet étudiant 2023-24 - Tous droits réservés


h1 {{ title }}


.ui.piled.segment: p.
  Ce rapport, géneré avec l'outil 
  #[a(href='https://github.com/schadenfreude9/astaroth') Astaroth],
  à été réalisé dans le cadre du projet Cybersécurité 2023-24 SupdeVinci Bordeaux.

:markdown
  Rapport d'analyse de sécurité:
  
  Suite à une analyse poussée des systèmes, des traces d'activité suspecte ont été détectées.
  Les données recueillies suggèrent un accès non autorisé potentiellement exploité.
  Une enquête plus approfondie est recommandée pour évaluer l'étendue de la menace et prendre les mesures appropriées en matière de sécurité.


.ui.container
  .ui.icon.message.yellow.block-center
    i.exclamation.circle.icon
    .content
      .header À noter.
      p.
        Les données de ce rapport, ainsi que les détails sur les exploits, ont été générés de manière automatique. 
        Il est impératif de les vérifier attentivement avant de pouvoir en garantir la fiabilité absolue.

{{ table_defou }}


table.ui.celled.table
  thead
    tr
      th File
      th description
  tbody
    tr
      td No Name Specified
      td Unknown
      td.negative None
    tr.positive
      td Jimmy
      td
        i.exclamation.circle.icon
        | Approved
      td None
    tr
      td Jamie
      td Unknown
      td.positive
        i.exclamation.circle.icon
        | Requires call
    tr.negative
      td Jill
      td Unknown
      td None